{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
      "prettier",
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "no-unused-vars": "off",
      "@typescript-eslint/no-unused-vars": ["error"],
      "@typescript-eslint/no-unsafe-argument": "off",
      "@typescript-eslint/ban-types": "warn",
      "@typescript-eslint/no-explicit-any": "off"
    }
  }
  